.landingBanner{
    text-align: center;
    margin-top: 48px;
    font-size: 72px
}

.signInForm {
    left: 25%;
    width: 512px;
    padding: 16px;
    position: absolute;
    margin-top: 24px;
}

.signInBanner{
    text-align: center;
}

.allButtons {
    width: 80px;
    height: 40px;
}

.signUpButton {
    position: absolute;
    float: right;
    padding: 4px;
    right: 4%;
    top: 4%;
}

.signInButton {
    padding: 4px;
    margin: 15px;
} 