
.grid-row {
    position: relative;
    clear: both;
    max-height: 400px;
}

.grid-col {
    display: inline-block;
    top: 0;
    margin: 25px;
    min-height: 316px;
    min-width: 316px;
    max-height: 316px;
    max-width: 316px;
}