nav {
    float: left;
    width: 160px;
    padding: 20px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
}
